@globalSelectionBackground: #79ffe1;
@globalSelectionColor: #000000;
@lightestColor: #ffffff;
@lightColor: #fafafa;
@deepColor: #eaeaea;
@deeperColor: #666666;
@deepestColor: #000000;

@fontSans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

* {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

.selection(@bg; @color) {
  &::selection {
    -webkit-font-smoothing: antialiased;
    color: @color;
    text-shadow: none;
    background: @bg;
  }

  &::selection {
    -webkit-font-smoothing: antialiased;
    color: @color;
    text-shadow: none;
    background: @bg;
  }
}

.selection(@globalSelectionBackground; @globalSelectionColor);

.element {
  .selection(@globalSelectionBackground; @globalSelectionColor);
}

#nprogress .bar {
  background: black;
}
